@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

$primaryBg: #0F1118;
$heroGradient: linear-gradient(#0F1118, #25252C);
$heroGradientReverse: linear-gradient(#25252C, #0F1118);


// Color Palette
$white: #fff;
$lightGrey: #B5C3D7;
$mintGreen: #ABFAA9;
$midGrey: #59586F;