@import '../../../assets/scss/main';

.designs {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

    .design {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid $midGrey;
        border-bottom: 1px solid $midGrey;
        padding: 20px 0;

        @media screen and (min-width: 400px) {
            width: 80%;
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            width: 85%;
        }

        @media screen and (min-width: 1440px) {
            width: 60%;
        }

        .design__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .design__header {
                margin-top: 10px;

                h3 {
                    font-weight: 900;
                    color: $white;
                    font-size: 2rem;
                    text-transform: uppercase;
                }

                .design__description {
                    display: block;
                    color: $lightGrey;
                    font-weight: 300;
                    line-height: 30px;
                    width: 100%;
                    font-size: 0.8rem;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    @media screen and (min-width: 768px) {
                        width: 90%;
                    }

                    @media screen and (min-width: 1440px) {
                        font-size: 1rem;
                        width: 90%;
                        margin: 30px 0;
                    }
                }
            }

            .design__footer {
                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $white;
                    margin-right: 20px;
                    padding: 10px;

                    img {
                        margin-right: 10px;
                    }

                    span {
                        font-weight: 700;
                        font-size: 0.7rem;
                    }
                }
            }
        }

        .design__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            padding-top: 40px;

            @media screen and (min-width: 768px) {
                margin-left: 50px;
            }

            a {
                .design__designImg {

                    @media screen and (min-width: 768px) {
                        width: 250px;
                    }
                    @media screen and (min-width: 1440px) {
                        width: 350px;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}