@import '../../assets/scss/main';

.portfolio {
    .display__toggle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 200px;

        .tabBtn {
            background-color: transparent;
            border: none;
            color: $lightGrey;
            font-weight: 700;
            font-size: 1.2rem;
            transition: 0.3s ease-in-out;
            border-bottom: 2px dotted transparent;

            &:hover {
                color: $white;
                border-bottom: 2px dotted $lightGrey;
            }
        }

        .active {
            color: $white;
            font-weight: 700;
            border-bottom: 2px dotted $white;
        }

        span {
            color: $lightGrey;
            font-size: 1.4rem;
            font-weight: 400;
            margin: 0 10px;
        }
    }

    .portfolio__cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
        width: 80%;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 90%;
        }

        p {
            font-size: 1.3rem;
            font-weight: 700;
            color: $white;
            margin-bottom: 30px;
            text-align: center;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                margin: 0 10px;
                color: $white;
            }

            a {
                .primaryBtn,
                .secondaryBtn {
                    border-radius: 6px;
                    font-weight: 700;
                    font-size: .8rem;
                    padding: 12px 20px;

                    @media screen and (min-width: 768px) {
                        font-size: 1rem;
                        padding: 15px 25px;
                    }
                }

                .secondaryBtn {
                    background-color: #272D34;
                    color: $white;
                    border: none;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: #353d46;
                    }
                }

                .primaryBtn {
                    background-color: $midGrey;
                    border: 1px solid $midGrey;
                    color: $white;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: #6c6b83;
                    }
                }
            }
        }
    }
}